<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Cobranza Diaria', root_path, {class: 'navbar-brand'} %>
      <%= link_to 'Clientes', clients_path, {class: 'navbar-brand'} %>
      <%= link_to 'Contratas', new_bill_path, {class: 'navbar-brand'} %>
      <%= link_to 'Reportes', instalments_path, {class: 'navbar-brand'} %>
    </div>
  </div>
</nav>
<%= render 'shared/flash_message' %>
